body {
    background-color: white;
    margin: 0;
}

a {
    text-decoration: none;
}

form {
    display: inline-block;
    width: 30vw;
    margin-top: 20px;
    padding: 10px;
    height: 2vh;
    border: solid 1px lightgray;
    border-radius: 20px;
}

input {
    border-style: hidden;
    width: 27.2vw;
}

button {
    margin-top: 25px;
}

#container {
    width: 100vw;
    height: 100vh;
}

#head {
    display: flex;
    padding: 10px;
}

#nav-izq, #nav-der {
    width: 50%;
}

#nav-izq, #nav-der > * {
    padding-left: 20px;
}

#nav-der {
    text-align: right;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 50vh;
}

#busqueda {
    margin-top: 20px;
    padding: 10px;
    height: 2vh;
    border: solid 1px lightgray;
    border-radius: 20px;
}

#botonesbusqueda > * {
    background-color: aliceblue;
    border-style: hidden;
    height: 3vh;
    width: 10vw;
}

#foot {
    background-color: rgb(238, 238, 238);
    position: absolute;
    bottom: 0;
    width: 100vw;
}

#pie-arriba {
    display: flex;
    border-bottom: solid 1px lightgray;
    padding-left: 10px;
}

#pie-abajo {
    display: flex;
}

#pa-izq {
    width: 20vw;
}

#pa-centro {
    width: 60vw;
    text-align: center;
}

#pa-der {
    width: 20vw;
    text-align: right;
}

#pa-izq, #pa-centro, #pa-der > * {
    padding-left: 10px;
    padding-right: 10px;
}

.glogo {
    height: 100px;
    width: 300px;
}

.nuevedots {
    width: 20px;
    height: 20px;
}

.perfil {
    width: 20px;
    height: 20px;
}

.hoja {
    width: 15px;
    height: 15px;
}

.mic {
    width: 20px;
    height: 20px;
}
.lupa {
    width: 20px;
    height: 20px;
}

.gris {
    color: gray;
}

.espaciolinks {
    padding-left: 10px;
}