body {
    background-color: greenyellow;
    margin: 0px;
}

table, th ,td {
    border-style: solid;
}

table {
    background-color: lightgray;
    border-collapse: collapse;
    width: 100%;
}

.botonatras {
    background-color: white;
    margin-top: 50px;
}

.botonatras:hover {
    background-color: aqua;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: skyblue;
}

#head{
    background-color: orange;
    height: 10vw;
}

#main {
    background-color: fuchsia;
    height: 75vh;
    display: flex;
}

#main-izq {
    width: 20vw;
}

#main-der {
    width: 80vw;
    display: flex;
}

#foot {
    display: flex;
    background-color: yellow;
    height: 10vw;
}

.footer-box {
    background-color: blueviolet;
    width: 20vw;
}