html {
    /* Elemento */
    background-color: gray;
}

body {
    /* Elemento */
    width: 900px;
    padding: 10px;
    margin: 10px auto auto auto;
    background-color: white;
    border-radius: 10px;
    /* Texto */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

h1 {
    /* Texto */
    text-align: center;
    font-weight: normal;
    letter-spacing: 5px;
}

h2 {
    /* Elemento */
    padding-top: 5px;
    /* Texto */
    color: rgb(148, 221, 39);
    /* Borde */
    border-bottom-style: solid;
    border-color: rgb(182, 182, 182);
    border-width: 1px;
}

img {
    /* Elemento */
    width: 900px;
    padding-top: 5px;
}

div {
    /* Elemento */
    clear: both;
}

main {
    /* Elemento */
    width: 760px;
    float: left;
    background-image: linear-gradient(#e2e2e2, white 50%, #e2e2e2);
}

button {
    /* Elemento */
    width: 100px;
    margin-bottom: 5px;
    padding: 5px 0px 5px 0px;
}

a {
    /* Texto */
    text-decoration: none;
}

.contenido{
    /* Elemento */
    padding-left: 15px;
    padding-right: 15px;
    /* Borde */
    border-style: solid;
    border-color: rgb(190, 190, 190);
    border-width: 1px;
}

.h1verde {
    /* Texto */
    color: rgb(40, 182, 40);
}

.h1naranja {
    /* Texto */
    color: rgb(226, 152, 15);
}

.menu {
    /* Elemento */
    width: 125px;
    float: left;
    overflow: hidden;
}

.botonverde {
    /* Elemento */
    background-image: linear-gradient(white 30%, #c3ff87);
    /* Borde */
    border-width: 1px;
    border-style: solid;
    border-color: #e0dfdf;
}

.botoninicio {
    /* Elemento */
    background-image: linear-gradient(white, #fad7cb);
    /* Borde */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(224, 223, 223);
}

.ccimagen {
    /* elemento */
    padding-top: 5px;
    width: 900px;
    /* Texto */
    color: lightgray;
    font-size: small;
    font-style: oblique;
    text-align: center;
}

.grey {
    /* Texto */
    color: rgb(95, 95, 95);
}

.black {
    /* Texto */
    color: rgb(0, 0, 0);
}

.underline {
    /* texto */
    text-decoration: underline;
}


.botoninicio:hover {
    /* Elemento */
    background: linear-gradient(rgb(255, 203, 106), white);
}

.botonverde:hover {
    /* Elemento */
    background: linear-gradient(#b2fa6b, white);
}


