body {
    /* Elemento */
    width: 900px;
    margin: auto;
    /* Texto */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

h1 {
    /* Texto */
    text-align: center;
    font-weight: normal;
    letter-spacing: 5px;
}

h2 {
    /* Elemento */
    padding-top: 5px;
    /* Texto */
    color: rgb(148, 221, 39);
    /* Borde */
    border-bottom-style: solid;
    border-color: rgb(188, 252, 123);
    border-width: 1px;
}

main {
    /* Elemento */
    width: 760px;
    float: left;
}

div {
    /* Elemento */
    padding-left: 15px;
    padding-right: 15px;
    /* Borde */
    border-style: solid;
    border-color: rgb(190, 190, 190);
    border-width: 1px;
}

button {
    /* Elemento */
    width: 100px;
    margin-top: 5px;
    padding: 5px 0px 5px 0px;
}

a {
    /* Texto */
    text-decoration: none;
}

.h1verde {
    /* Texto */
    color: rgb(40, 182, 40);
}

.h1naranja {
    /* Texto */
    color: rgb(226, 152, 15);
}

.menu {
    /* Elemento */
    margin-top: 10px;
    width: 125px;
    float: left;
}

.botonverde {
    /* Elemento */
    background-color: rgb(195, 255, 135);
    /* Borde */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(224, 223, 223);
}

.botoninicio {
    /* Elemento */
    background-color: rgb(255, 226, 216);
    /* Borde */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(224, 223, 223);
}

.grey {
    /* Texto */
    color: rgb(95, 95, 95);
}

.black {
    /* Texto */
    color: rgb(0, 0, 0);
}

.botoninicio:hover {
    /* Elemento */
    background-color: orange;
}

.botonverde:hover {
    /* Elemento */
    background-color: rgb(81, 255, 81);
}
