<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix</title>
    <link rel="stylesheet" href="./styles/netflix.css">
    <link rel="shortcut icon" href="./img/netflix.png" type="image/x-icon">
</head>
<body>
    <div id="container">
        <div id="head">
            <div id="barra-izq">
                <img src="./img/Logonetflix.png" alt="logo netflix barra" class="logonetflix">
                <a href="">Inicio</a>
                <a href="">Series TV</a>
                <a href="">Películas</a>
                <a href="">Novedades más vistas</a>
                <a href="">Mi lista</a>
            </div>
            <div id="barra-der">
                <img src="./img/lupa.png" alt="">
                <img src="./img/present.png" alt="">
                <img src="./img/bellnoti.png" alt="">
                <img src="./img/istockphoto-1337144146-612x612.png" alt="">
            </div>
        </div>
        <div id="main">

        </div>
        <div id="foot">

        </div>
    </div>
</body>
</html>